*/.DS_Store
*DS_Store
*.pyc
*/.pyc
**/__pycache__/

backups/
crm_extracts/

frontend/accounts/.DS_Store
frontend/admin/.DS_Store
frontend/site/templates/.DS_Store
frontend/site/.DS_Store

frontend/__pycache__/*.pyc
crm_extracts/csv/o20211019_decimals.csv
crm_extracts/csv/o20211019_dummy.csv


.DS_Store


*/dll
*dll
*/exe
*exe
UberOlaApp/*.sln
UberOlaApp/UberOlaApp/bin